body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);

        font-family: Arial, courier, serif;
        background-color: #be6afa;
        color: #000000;
       
        padding-left: 80px;
}
section {
    padding: 20px;
    background-color:   rgb(128, 214, 243);
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
}
