body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(99, 99, 244);
}
.dw {
    color: white;
}
section {
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
}