body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 20, 20);
    background-image: url(/img/c109124f731900da24197228a9c7bb30.jpeg );
    background-repeat: no-repeat;
    background-size: cover;

        font-family: Arial, courier, serif;
        background-color: #000000b7;
        color: #ffffff;
       
        padding-left: 80px;
}